:root {
    --primary-color: #003E52;
    --secondary-color: #EE7623;
    --neutral: #00000029;
    --white: #FFFFFF;
    --hover-color: #E0E0E0;
    --text-color: white;
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Rift', sans-serif;
    --font-size-base: 16px;
    --font-size-large: 24px;
    --font-size-xlarge: 42px;
    --spacing: 20px;
    --box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    background-color: #f5f5f5;
    overflow-x: hidden;
}

.container {
    /* padding: 0 var(--spacing); */
}

/* Styles for desktop view */
@media screen and (min-width: 768px) {
    .navbar {
        padding: 0 138px;;
        position: relative;
        z-index: 1;
        top: 23px;
        background-color: rgba(0, 0, 0, 0);
        font-size: var(--font-size-base);
    }

    .navdiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* padding: 0 var(--spacing); */
    }

    ul {
        display: flex;
        align-items: center;
    }

    li {
        /*margin-left: var(--spacing);*/
        list-style: none;
        display: inline-block;
    }

    li a {
        color: var(--text-color);
        margin-right: calc(var(--spacing) * 1.25);
        text-decoration: none;
        transition: color 0.3s;
    }

    li a:hover {
        font-weight: bold;
    }

    button {
      /*  display: none;*/
    }

    .slider {
        top: -55px;
        margin: 0;
    }

    .slick-prev, .slick-next {
        z-index: 1;
        position: absolute;
        top: 50%;
        transform: translateY(-70%);
        font-size: 24px;
        color: #ffffff;
        cursor: pointer;
    }
    .next {
        right: 0;
    }
    .slick-prev {
        left: 85%;
    }

    .slick-next {
        left: 88%;
    }

    .slick-arrow {
        top: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .slick-slide img {
        width: 100%;
    }
    .slick-dots li button:before {
        top:-30px;
        left: 30%;
    }

    .slide {
        position: relative;
    }

    .slide-content {
        position: absolute;
        width: 510px;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
        color: var(--primary-color);
        font-size: var(--font-size-xlarge);
        font-weight: bold;
    }

    .cta-button {
        font-size: 14px;
        font-family: var(--font-secondary);
        position: absolute;
        background: var(--white);
        box-shadow: var(--box-shadow);
        color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        cursor: pointer;
        text-decoration: none;
    }

    .cta-button:hover {
        background: var(--hover-color);
    }

    .cta-button::after {
        margin-left: 15px;
        content: ">";
    }

    .icon-4col-section {
        text-align: center;
        padding: 0 138px;
    }

    .section-header {
        font-size: 28px;
        font-weight: bold;
        color: var(--primary-color);
        opacity: 1;
        text-align: center;
        position: relative;
        
    }

    
    .section-header span {
        display: inline-block;
        width: 40px;
        height: 2px;
        background: var(--primary-color);
        transition: 0.3s;
    }

    .icons-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .icon-item {
        width: 25%;
        padding: var(--spacing);
        box-sizing: border-box;
        text-align: center;
        font-family: var(--font-secondary);
        font-size: var(--font-size-large);
        letter-spacing: 1.92px;
        color: var(--primary-color);
        opacity: 1;
    }

    .icon-item img {
        max-width: 100%;
        height: auto;
    }

    .icon-item h4 {
        font-size: 20px;
        font-weight: bold;
        color: var (--primary-color);
    }
    .slider-dashs{
       
                transition: 0.3s;
                color:var(--white);
                position: absolute;
                top:90%;
                left: 79%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 5px;
               
            }
            .slider-dash{
                margin-left: 1px;
            }
}
.dashes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.slider-dash {
    width: 40px;
    height: 2px;
    background-color: rgb(83, 79, 71) !important;
    margin: 0 5px;
    transition: background-color 0.3s;
    border: none;
}

.slick-active .slider-dash {
    background-color: white !important;
}
/*meduim screens*/
@media   (max-width:950px){
    .icon-item{
        width: 50%;
    }  ;
    
}

/* Styles for mobile view */
@media screen and (max-width: 767px) {
    .slick-prev{
        right:35px !important;
        left:auto !important;
    }
    .slick-next {
        right: 10px;
    }
    .slick-prev, .slick-next {
        top:95% !important;
    }
    .navbar {
        background-color: var(--primary-color);
        position: relative;
        z-index: 1001; /* Ensure navbar is on top */
    }

    .navdiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--spacing);
        position: relative;
        z-index: 1002; /* Ensure navdiv is on top */
    }

    .logo {
        width: 100px;
        z-index: 1003; /* Ensure logo is on top */
    }

    .hamburger {
        display: inline-block;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 1003; /* Ensure hamburger icon is on top */
    }

    .hamburger span {
        display: block;
        width: 30px;
        height: 3px;
        background: var(--text-color);
        margin: 5px auto;
        transition: 0.3s;
    }

    .close span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    .close span:nth-child(2) {
        opacity: 0;
    }
    
    .close span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: var(--primary-color);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        padding-top: 60px; 
    }

    .menu.active {
        display: flex;
    }

    .menu.active .navdiv {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: var(--spacing);
        background-color: var(--primary-color);
        z-index: 1000;
    }

    .menu.active .logo img,
    .menu.active .hamburger {
        display: block;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    li {
        margin: 10px 0;
    }

    li a {
        color: var(--text-color);
        text-decoration: none;
        /* font-size: 18px; */
        text-align: center;
        font: normal normal normal 24px/29px Montserrat;
        letter-spacing: 0px;
    }

    .slider {
        margin: 0;
        position: relative;
        height: 69vh; /* Ensure it covers the full height of the viewport */
    }

    .slider-dash {
        display: none !important;
    }

    .slick-slide img {
    
        height: 70vh; /* Ensure it covers the full height of the slider */
        object-fit: cover; /* Ensure the image covers the entire area */
    }

    .slide-content {
        position: absolute;
        top: 40vh;
        left: 30%;
        transform: translate(-50%, -50%);
        width: 90%; /* Ensure it fits within the viewport */
        max-width: 272px; /* Optional: limit the maximum width */
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        color: var(--primary-color); /* Ensure the text color contrasts well with the image */
        background: rgba(255, 255, 255, 0); /* Optional: add a semi-transparent background to make the text more readable */
        padding: 20px;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .cta-button {
        display: inline-block;
        margin-top: var(--spacing);
        color: var(--primary-color);
        background-color: var(--white);
        padding: 10px 20px;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
    }

    .cta-button::after {
        margin-left: 15px;
        content: ">";
    }

    .section-header {
        font: normal normal bold 20px/24px Montserrat;
        font-weight: bold;
        color: var(--primary-color);
        opacity: 1;
        text-align: center;
        position: relative;
    }

    .section-header span {
        display: inline-block;
        width: 40px;
        height: 2px;
        background: var(--secondary-color);
        transition: 0.3s;
    }

    .icon-4col-section {
        padding: var(--spacing);
    }

    .icons-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icon-item {
        width: 100%;
        padding: var(--spacing) 0;
        text-align: center;
    }

    .icon-item img {
        margin-bottom: var(--spacing);
    }
}

/* Styles for footer */
footer {
    margin: 0;
    background-color: var(--primary-color);
    padding: 20px 0;
    text-align: center;
}

footer img {
    display: inline-block;
    max-width: 100%;
}
